# ───────────────────────────────
# Node
# ───────────────────────────────
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ───────────────────────────────
# CDK
# ───────────────────────────────
cdk.out/
*.asset.json

# ───────────────────────────────
# TypeScript build output
# ───────────────────────────────
dist/
build/
*.tsbuildinfo

# ───────────────────────────────
# Environment / Secrets
# ───────────────────────────────
.env
.env.*
.aws/

# ───────────────────────────────
# MacOS
# ───────────────────────────────
.DS_Store

# ───────────────────────────────
# Logs
# ───────────────────────────────
*.log

# ───────────────────────────────
# IDE / Editor
# ───────────────────────────────
.vscode/
.idea/
